      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Ферма</a>
            <ul class="nav">
              <li class="active">
                <%= link_to 'Главная', "/"%>
              </li>
              <li>
                <%= link_to 'Маркет', :controller => "cow", :action => "market"%>
              </li>
              <li>
                <a href="#">О Игре</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>