      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <%= link_to 'Ферма', "/", :class => 'brand' %>
             <ul class="nav">
              <li>
                <%= link_to 'Главная', "/" %>
              </li>
              <li>
                <%= link_to 'Маркет', :controller => "cow", :action => "market"%>
              </li>
              <li>
                <a href="#">О Игре</a> 
              </li>
            </ul>
          </div>
        </div>
      </div>