 <div class="container">
  <%= render 'navigate' %>
      <div class="milk_v"><%=  render 'milk' %></div>
      <table class="table">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Возраст</th>
            <th>Кол-во молока</th>
            <th>Сдоить</th>
          </tr>
        </thead>
        <tbody class="listing">
          <%= render "listing"%>
        </tbody>
      </table>
    </div>